.page-header
  %h1 
    Sun Classes
    %small
      =link_to 'Create a new class', new_sun_class_path
.row
  .col-sm-6
    = form_tag import_sun_classes_path, multipart: true do
      %legend Import Classes
      .form-group
        = file_field_tag :file
      = submit_tag "Import", :class => 'btn btn-primary'
    = form_tag clear_sun_classes_path, :class => 'top-buffer',:onsubmit=>"return confirm('This will delete all current classes, are you sure?');" do
      = submit_tag "Clear Existing Classes", :class => 'btn btn-danger'
  .col-sm-6
    = form_tag assign_all_students_path do
      %legend Class Assignment
      = submit_tag "Assign Students", :class => 'btn btn-success'
    = form_tag clear_all_assignments_students_path, :class => 'top-buffer',:onsubmit=>"return confirm('This will delete all class assignments, are you sure?');" do
      = submit_tag "Clear class assignments", :class => 'btn btn-danger'
.row
  %table.table.table-striped.table-hover.col-md-12.top-buffer
    %thead
      %tr
        %th
        %th Mon (Total: #{@monClasses_hour1_total+@monClasses_hour2_total})
        %th Tues (Total: #{@tuesClasses_hour1_total+@tuesClasses_hour2_total})
        %th Wed (Total: #{@wedClasses_hour1_total+@wedClasses_hour2_total})
        %th Thurs (Total: #{@thursClasses_hour1_total+@thursClasses_hour2_total})
    %tbody
      %tr
        %td Hour 1
        %td Total: #{@monClasses_hour1_total}
        %td Total: #{@tuesClasses_hour1_total}
        %td Total: #{@wedClasses_hour1_total}
        %td Total: #{@thursClasses_hour1_total}
      -(0..maxNumClasses([@monClasses_hour1, @tuesClasses_hour1, @wedClasses_hour1, @thursClasses_hour1])).each do |n|
        %tr
          %td
          -[@monClasses_hour1, @tuesClasses_hour1, @wedClasses_hour1, @thursClasses_hour1].each do |classes|
            %td
              -if classes.length > n
                =link_to(classes[n].name,classes[n])
                %br
                #{classes[n].class_assignments_count}/#{classes[n].limit} 
                %br
                #{classes[n].wait_list_assignments_count} Wait Listed
      %tr
        %td Hour 2
        %td Total: #{@monClasses_hour2_total}
        %td Total: #{@tuesClasses_hour2_total}
        %td Total: #{@wedClasses_hour2_total}
        %td Total: #{@thursClasses_hour2_total}
      -(0..maxNumClasses([@monClasses_hour2, @tuesClasses_hour2, @wedClasses_hour2, @thursClasses_hour2])).each do |n|
        %tr
          %td
          -[@monClasses_hour2, @tuesClasses_hour2, @wedClasses_hour2, @thursClasses_hour2].each do |classes|
            %td
              -if classes.length > n
                =link_to(classes[n].name,classes[n])
                %br
                #{classes[n].class_assignments_count}/#{classes[n].limit}
                %br
                #{classes[n].wait_list_assignments_count} Wait Listed