%table.table.table-striped.table-hover.col-md-12.top-buffer
  %thead
    %tr 
      %th Last Name
      %th First Name
      %th Classes
      %th Preferences
  %tbody
    -students.each do |s|
      %tr
        %td=link_to s.last_name, student_path(s)
        %td=link_to s.first_name, student_path(s)
        %td
          %ol
            -daySortClass(s.sun_classes).each do |c|
              %li 
                "#{c.day} Hour #{c.hour} 
                =link_to c.name, c
          -if s.wait_list_assignments.length > 0
            %br 
            Wait listed for:
            %ol
              -s.wait_list_assignments.each do |c|
                %li 
                  #{c.sun_class.day} Hour #{c.sun_class.hour} 
                  =link_to c.sun_class.name, c.sun_class
                  \-#{c.reason}
        %td
          %ol
            -daySortPreference(s.preferences).each do |p|
              %li 
                "#{p.day} Hour #{p.hour} Preference##{p.order}:"
                =link_to p.sun_class.name, p.sun_class