!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Sunclasses"
      %meta{:content => content_for?(:description) ? yield(:description) : "Sunclasses", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    %header.navbar.navbar-default
      .container
        %navbar-header
          = render 'layouts/navigation'
    #main{:role => "main"}
      .container
        .content
          .row
            .col-md-12
              = render 'layouts/messages'
              = yield
          %footer
      / ! end of .container
    / ! end of #main
